{% extends 'layout/main.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block content %}
    {% apply spaceless %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            {{ form_widget(form) }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">{{ 'sas.form.action.submit' | trans({}, 'forms') }}</button>
                            <a href="{{ path('KejawenLab\\ApiSkeleton\\Admin\\Controller\\Me\\Profile') }}" class="btn btn-warning ml-1">{{ 'sas.form.action.cancel' | trans({}, 'forms') }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}
    {% apply spaceless %}
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on('change', function () {
                    let fileName = $(this).val().split('\\').pop();
                    $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
                });
            });
        </script>
    {% endapply %}
{% endblock %}
