{% extends 'layout/main.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block content %}
    {% apply spaceless %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form role="form" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">{{ 'sas.form.action.submit' | trans }}</button>
                        <a href="{{ path('kejawenlab_apiskeleton_admin_media_getall__invoke') }}" class="btn btn-warning ml-3">{{ 'sas.form.action.cancel' | trans }}</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}
    <script>
        $('.custom-file-input').on('change', function() {
            let fileName = $(this).val().split('\\').pop();
            $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
        });
    </script>
{% endblock %}
