security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    providers:
        user_provider:
            id: KejawenLab\ApiSkeleton\Security\Service\UserProviderFactory
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|img|js|lib|fonts|bundles)/
            security: false
        admin_login:
            pattern: ^/admin/login
            methods: ['GET']
            security: false
        admin:
            pattern: ^/admin
            lazy: true
            switch_user: true
            login_throttling:
                limiter: semart_login_rate_limiter
            custom_authenticators:
                - KejawenLab\ApiSkeleton\Security\AdminAuthenticator
            logout:
                path: admin_logout
        api_login:
            pattern:  ^/api/login
            stateless: true
            lazy: true
            provider: user_provider
            login_throttling:
                limiter: semart_login_rate_limiter
            json_login:
                check_path: /api/login
                username_path: username
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
        api_doc:
            pattern: ^/api/doc$
            methods: ['GET']
            security: false
        api_public_media:
            pattern: ^/api/medias/public
            methods: ['GET']
            security: false
        api_public_setting:
            pattern: ^/api/settings/public
            methods: ['GET']
            security: false
        api_public:
            pattern: ^/api/public
            security: false
        api_home:
            pattern: ^/api$
            security: false
        api:
            pattern: ^/api
            stateless: true
            jwt: ~

    access_control:
        - { path: ^/api/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY, methods: ['POST'] }
        - { path: ^/admin/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY, methods: ['GET', 'POST'] }
        - { path: ^/api/doc$, roles: IS_AUTHENTICATED_ANONYMOUSLY, methods: ['GET'] }
        - { path: ^/api/medias/public, roles: IS_AUTHENTICATED_ANONYMOUSLY, methods: ['GET'] }
        - { path: ^/api/settings/public, roles: IS_AUTHENTICATED_ANONYMOUSLY, methods: ['GET'] }
        - { path: ^/api/public, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/admin, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
