version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        env_file:
          - .env
        volumes:
            - .:/semart:cached
            - cache:/semart/var/cache
            - vendor:/semart/vendor
        ports:
            - "9876:9501"

volumes:
    cache:
    vendor:
