<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
        <server name="KERNEL_CLASS" value="KejawenLab\ApiSkeleton\Kernel" />
    </php>

    <testsuites>
        <testsuite name="SemartApiSkeleton Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">lib</directory>
        </include>
        <exclude>
            <directory>lib/Admin</directory>
            <directory>lib/ApiClient/Model</directory>
            <directory>lib/Command</directory>
            <directory>lib/Composer</directory>
            <directory>lib/Controller</directory>
            <directory>lib/Cron/Model</directory>
            <directory>lib/DataFixutes</directory>
            <directory>lib/Repository</directory>
            <directory>lib/Service</directory>
            <directory>lib/Setting/Model</directory>
            <directory>lib/Setting/SettingNotFoundException.php</directory>
            <file>lib/CachedKernel.php</file>
            <file>lib/Kernel.php</file>
            <file>lib/SemartApiSkeleton.php</file>
        </exclude>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
