# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    container.dumper.inline_factories: true
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            Psr\Log\LoggerInterface $cronLogger: '@monolog.logger.cron'
            iterable $providers: !tagged_iterator semart.user_provider
            iterable $queryExtension: !tagged_iterator semart.query_extension
            iterable $generators: !tagged_iterator semart.generator
            iterable $initiators: !tagged_iterator semart.permission_initiator
            iterable $removers: !tagged_iterator semart.permission_remover
            iterable $upgraders: !tagged_iterator semart.upgrader
            Redis $redis: '@snc_redis.default'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    KejawenLab\ApiSkeleton\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    KejawenLab\ApiSkeleton\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']
    KejawenLab\ApiSkeleton\Admin\Controller\:
        resource: '../src/Admin/Controller'
        tags: ['controller.service_arguments']

    _instanceof:
        Doctrine\Common\EventSubscriber:
            tags:
                - { name: doctrine.event_subscriber }
        KejawenLab\ApiSkeleton\Security\Model\UserProviderInterface:
            tags:
                - { name: semart.user_provider }
        KejawenLab\ApiSkeleton\Pagination\Model\QueryExtensionInterface:
            tags:
                - { name: semart.query_extension }
        KejawenLab\ApiSkeleton\Generator\Model\GeneratorInterface:
            tags:
                - { name: semart.generator }
        KejawenLab\ApiSkeleton\Security\Model\PermissionInitiatorInterface:
            tags:
                - { name: semart.permission_initiator }
        KejawenLab\ApiSkeleton\Security\Model\PermissionRemoverInterface:
            tags:
                - { name: semart.permission_remover }
        KejawenLab\ApiSkeleton\Upgrade\Model\UpgradeInterface:
            tags:
                - { name: semart.upgrader }

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    Cron\Validator\CrontabValidator:
    KejawenLab\ApiSkeleton\Repository\UserRepository:
        arguments:
            $superAdmin: '%env(resolve:APP_SUPER_ADMIN)%'
    KejawenLab\ApiSkeleton\Security\Authorization\Ownership:
        arguments:
            $superAdmin: '%env(resolve:APP_SUPER_ADMIN)%'
            $ownershipProperty: 'created_by'
    KejawenLab\ApiSkeleton\Security\Service\GroupService:
        arguments:
            $superAdmin: '%env(resolve:APP_SUPER_ADMIN)%'
    KejawenLab\ApiSkeleton\Security\Service\UserProvider:
        arguments:
            $class: 'KejawenLab\ApiSkeleton\Entity\User'
    KejawenLab\ApiSkeleton\Cron\Validator\CronScheduleFormatValidator:
        arguments:
            $validator: '@Cron\Validator\CrontabValidator'
    KejawenLab\ApiSkeleton\Security\Service\PermissionService:
        arguments:
            $class: 'KejawenLab\ApiSkeleton\Entity\Permission'
    KejawenLab\ApiSkeleton\Generator\PermissionGenerator:
        arguments:
            $class: 'KejawenLab\ApiSkeleton\Entity\Menu'
    KejawenLab\ApiSkeleton\Command\CronRunCommand:
        arguments:
            $reportClass: 'KejawenLab\ApiSkeleton\Entity\CronReport'
    KejawenLab\ApiSkeleton\Client\UserProvider:
        arguments:
            $class: 'KejawenLab\ApiSkeleton\Entity\Client'
    KejawenLab\ApiSkeleton\Admin\EventSubscriber\AdminContextSubscriber:
        arguments:
            $globals:
                app_title: '%env(resolve:APP_TITLE)%'
                app_description: '%env(resolve:APP_DESCRIPTION)%'
                version: '%env(resolve:APP_VERSION)%'
                admin_logo: '%env(resolve:APP_ADMIN_LOGO)%'
    KejawenLab\ApiSkeleton\Admin\ArgumentResolver\BaseApiUrlResolver:
        arguments:
            $baseApiUrl: '%env(resolve:APP_API_BASE_URL)%'
