{% apply spaceless %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="generator" content="Semart Api Skeleton" />
    <meta name="version" content="{{ version }}" />
    <meta name="source" content="https://github.com/KejawenLab/SemartApiSkeleton" />
    <meta name="author" content="Muhamad Surya Iksanduin" />
    <meta name="email" content="surya.kejawen@gmail.com" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ asset('css/adminlte.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% include 'layout/style.html.twig' %}
</head>
{% endapply %}
