{% apply spaceless %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="generator" content="Semart Api Skeleton" />
        <meta name="version" content="{{ sas.version }}" />
        <meta name="source" content="https://github.com/KejawenLab/SemartApiSkeleton" />
        <meta name="author" content="Muhamad Surya Iksanduin" />
        <meta name="email" content="surya.kejawen@gmail.com" />
        <title>{{ sas.app_title }}</title>
        <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <style>.user-panel{position:absolute;bottom:0;border-bottom:none !important;padding-top:9px}.select2-container,.select2-drop,.select2-search,.select2-search input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%!important}.select2-container .select2-selection{min-height:38px!important}.select2-container--default .select2-selection--single .select2-selection__arrow{height:38px!important}.select2-container--default .select2-dropdown{border-color:#80bdff}.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:34px!important}.input-group>.select2{position:relative;-ms-flex:1 1 0%;flex:1 1 0%;min-width:0;margin-bottom:0}.margin-b-7{margin-bottom:7px!important}.margin-l-5{margin-left:5px}.margin-r-5{margin-right:5px}.nav-sidebar>.nav-item .nav-icon.fa,.nav-sidebar>.nav-item .nav-icon.fab,.nav-sidebar>.nav-item .nav-icon.far,.nav-sidebar>.nav-item .nav-icon.fas,.nav-sidebar>.nav-item .nav-icon.glyphicon,.nav-sidebar>.nav-item .nav-icon.ion{font-size:.9rem}.card{margin-top:1rem}.content-wrapper,.main-footer,.main-header{margin-left:330px!important}.main-sidebar,.main-sidebar:before{width:330px}.main-sidebar,.main-sidebar::before{width:330px}@media (max-width:768px){.card-header>.card-tools{margin-top:30px;margin-right:0;float:none;padding:0}.table{display:block;width:100%;overflow-x:auto}}</style>
        {% block style %}
        {% endblock %}
    </head>
{% endapply %}
