{% apply spaceless %}
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview menu-open">
                <a href="{{ path('admin_home') }}" class="nav-link active">
                    <i class="nav-icon fa fa-home"></i><p>Home</p>
                </a>
            </li>
        </ul>
    </nav>
{% endapply %}
